@use "../abstracts" as a;

.btn {
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  color: hsl(a.$clr-black);

  &.btn-primary {
    background-color: hsl(a.$clr-dark-orange);

    &:hover {
      background-color: hsl(a.$clr-light-orange);
    }
  }

  &.btn-secondary{
    background-color: hsl(a.$clr-light-orange);

    &:hover{
      background-color: hsl(a.$clr-beige);
    }
  }

  &.btn-light{
    background-color: hsl(a.$clr-white);
  }

  &.btn-dark{
    color: hsl(a.$clr-white);
  }
}