@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}
@if (IsSectionDefined("metatags"))
{
@RenderSection("metatags", required: false)
}

<section>
  <h1>@Localizer["h1"]</h1>
  <hr/>
  <div class="manage-container">
    <div>
      <partial name="_ManageNav"/>
    </div>
    <div class="render-body">
      @RenderBody()
    </div>
  </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
