@use "../../../wwwroot/sass/abstracts" as a;


.manage-container{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;

  @include a.tablet {
    grid-template-columns: 1fr 3fr;
  }
}

.render-body{
  margin-top: 1rem;

  @include a.tablet {
    width: 75%;
    margin: 0 auto;
  }
}

.section-header{
  display: none;

  @include a.tablet{
    display: block;
  }
}