@page
@model DownloadPersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@section metatags
{
    <title>Download personal data</title>
    <meta name="description" content="Download personal data page"/>
    <meta name="keywords" content="Download personal data"/>
    <meta name="author" content="doof"/>
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
