@page
@model ForgotPasswordConfirmation
@section metatags
{
    <title>Forgot password confirmation</title>
    <meta name="description" content="Forgot password confirmation page"/>
    <meta name="keywords" content="Forgot password, Forgot password confirmation"/>
    <meta name="author" content="doof"/>
}

<p>
    Please check your email to reset your password.
</p>
