@page
@model LockoutModel
@section metatags
{
    <title>Lockout</title>
    <meta name="description" content="Lockout page"/>
    <meta name="keywords" content="Lockout"/>
    <meta name="author" content="doof"/>
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
