@page
@model ResetPasswordConfirmationModel
@section metatags
{
    <title>Reset password confirmation</title>
    <meta name="description" content="Reset password confirmation page"/>
    <meta name="keywords" content="Reset password, Reset password confirmation"/>
    <meta name="author" content="doof"/>
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
