@page "/not-found"
@model ErrorModel
@section metatags
{
    <title>@Localizer["title"] | doof</title>
    <meta name="description" content="Error page for doof, the simple recipe site"/>
    <meta name="keywords" content="Error, Error page"/>
    <meta name="author" content="doof"/>
}

<section>
    <h1>@Localizer["h1"]</h1>
</section>
