@page
@model IndexModel
@section metatags{
    <title>Home</title>
    <meta name="description" content="Home page">
    <meta name="keywords" content="Home, Index">
    <meta name="author" content="doof">
}

<div class="pt-3">
    <p>hello there</p>
    <p>hello again</p>
</div>
