/* colors */
$clr-main-dark: 40 100% 64%;
$clr-main-light: 40 100% 76%;
$clr-accent-dark: 330 2% 33%;
$clr-accent-light: 40 100% 88%;
$clr-accent-comp: 216 100% 57%;
$clr-white: 39 100% 96%;

/* font-sizes */
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.75rem;
$fs-600: 2rem;
$fs-700: 3.5rem;
$fs-800: 6.25rem;
$fs-900: 9.375rem;