/* colors */
/* font-sizes */
@font-face {
  font-family: "atkinson";
  font-weight: 700;
  src: url("./fonts/Atkinson-Hyperlegible-Bold.woff2") format("woff2"), url("./fonts/Atkinson-Hyperlegible-Bold.woff") format("woff");
}
@font-face {
  font-family: "atkinson";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/Atkinson-Hyperlegible-BoldItalic.woff2") format("woff2"), url("./fonts/Atkinson-Hyperlegible-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "atkinson";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/Atkinson-Hyperlegible-Italic.woff2") format("woff2"), url("./fonts/Atkinson-Hyperlegible-Italic.woff") format("woff");
}
@font-face {
  font-family: "atkinson";
  font-weight: 400;
  src: url("./fonts/Atkinson-Hyperlegible-Regular.woff2") format("woff2"), url("./fonts/Atkinson-Hyperlegible-Regular.woff") format("woff");
}
body {
  font-family: "atkinson", sans-serif;
  line-height: 1.5;
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

/* min body height */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  min-height: 100svh;
  width: clamp(16rem, 90vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  body {
    color: hsl(39, 100%, 96%);
    background-color: hsl(330, 2%, 33%);
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: hsl(330, 2%, 33%);
    background-color: hsl(39, 100%, 96%);
  }
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(65ch);
  text-wrap: pretty;
}

main {
  min-height: 100svh;
}

p,
h3,
h4,
li {
  font-size: clamp(1rem, 2.5vw + 0.5rem, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 2.75vw + 0.75rem, 2.5rem);
}

ol, ul {
  padding: 0;
  list-style-position: inside;
}

li::marker {
  font-weight: 700;
}

.btn {
  padding: 0.625rem 0.5rem;
  border-radius: 0.25rem;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  color: hsl(330, 2%, 33%);
}
.btn.btn-primary {
  background-color: hsl(40, 100%, 64%);
}
.btn.btn-primary:hover {
  background-color: hsl(40, 100%, 76%);
}
.btn.btn-secondary {
  background-color: hsl(40, 100%, 76%);
}
.btn.btn-secondary:hover {
  background-color: hsl(40, 100%, 88%);
}
.btn.btn-light {
  background-color: hsl(39, 100%, 96%);
}
.btn.btn-dark {
  color: hsl(39, 100%, 96%);
}

header {
  display: grid;
  padding: 1rem 0 1rem 0;
  grid-template-columns: 1fr 1fr;
}
header nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
