@page
@model AccessDeniedModel
@section metatags
{
    <title>Access Denied</title>
    <meta name="description" content="Access Denied page"/>
    <meta name="keywords" content="Access Denied"/>
    <meta name="author" content="doof"/>
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You do not have access to this resource.</p>
</header>
