@page
@model ConfirmEmailChangeModel
@section metatags
{
    <title>Confirm email change</title>
    <meta name="description" content="Confirm email change page"/>
    <meta name="keywords" content="Confirm email change"/>
    <meta name="author" content="doof"/>
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
