@page
@model ConfirmEmailModel

@section metatags
{
  <title>@Localizer["title"]</title>
  <meta name="description" content="@Localizer["meta-desc"]"/>
  <meta name="keywords" content="@Localizer["meta-keywords"]"/>
  <meta name="author" content="doof"/>
}

<section>
  <partial name="_StatusMessage" model="Model.StatusMessage"/>
</section>