@page
@model ConfirmEmailModel
@section metatags
{
    <title>Confirm email</title>
    <meta name="description" content="Confirm email page"/>
    <meta name="keywords" content="Confirm email"/>
    <meta name="author" content="doof"/>
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
