.input-container{
  display: flex;
  flex-direction: column;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
}
section{
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.form-container{
  width: min(100%, 500px)
}