@page
@model ResendEmailConfirmationModel
@section metatags
{
    <title>Resend email confirmation</title>
    <meta name="description" content="Resend email confirmation page"/>
    <meta name="keywords" content="Resend email confirmation"/>
    <meta name="author" content="doof"/>
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <button type="submit">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
